.Container {
  display: flex;
  flex-direction: column;
  margin-top: 10em;
  width: 100%;
  height: auto;
  border: 1px solid white;
}

.Bio {
  font-size: 22px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: rgba(0, 0, 0, .1);
}

.Bio img {
  width: 100%;
  border-radius: 15px;
}

.figureThing {
  margin: 22px 40px;
}

.words {
  margin: 40px;
}

@media only screen and (min-width: 769px) {
  .Bio {
    flex-direction: row;
  }

  .words {
    margin-left: 0px;
  }
}

@media only screen and (min-width: 500px) {

  .Container {
    justify-content: center;
    align-items: center;
    padding-top: 20em;

  }

  .Bio {
    width: 75%;
    background-color: rgba(0, 0, 0, .1);
    border-radius: 5px;
  }
  
  .Bio img {
    width: 100%;
    border-radius: 100px;
  }
}