.SideDrawer {
    position: fixed;
    width: 8em;
    max-width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #232526;  
    background: -webkit-linear-gradient(to top, #414345, #232526);  
    background: linear-gradient(to top, #414345, #232526); 
    color: white;
    right: 0;
    top: 0;
    padding-top: 2em;
    box-sizing: border-box;
    transition: transform 0.3s ease-out;
    z-index: 100;
}

@media (min-width: 500px) {
    .SideDrawer {
        display: none;
    }
}

.Open {
    transform: translateX(0%);
}

.Close {
    transform: translateX(100%);
}