.Contact {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: rgba(0, 0, 0, .1);
    margin: 0em 9em;
    padding: 2em 4em;
    font-size: 20px;
    line-height: .5em;
}

.Contact a{
    text-decoration: none;
    color: white;
}

@media (min-width: 500px) {
    .Container {
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
}